@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@400;500&family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
}
a {
    text-decoration: none;
    display:inline-block;
}
img{
    max-width: 100%;
}

.heder {
    background-color: #19202C;
    padding: 25px 0px;
    margin-bottom: 20px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-wrap {
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.logo{
    font-size: 40px;
    color: #FFFFFF;
    padding-left: 20px;
}

.logo-content{
    color: #FFF;
    padding-left: 15px;
}
.logo-content:hover{
    color: #cccaca;
}
.menu-list a {
    color: #FFF;
    padding-left: 15px;
}

.red{
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: red;
    border: 1px solid red;
    padding: 10px 15px;
    margin-bottom: 25px;
}
.img-hero{
    margin-bottom: 25px;
}
.container-item{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}
.contend-facebook{
    margin-bottom: 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
hr{
    margin-bottom: 20px;
}
.title-facebook a{
    display: inline-block;
    color: #000;
    margin-bottom: 15px;
    text-decoration: underline;
}
.title-facebook:hover a{
    color: red;
    text-decoration: none;
    transition: 0.3s;
}

